body {
  background: linear-gradient(to right, #c5c7c233, #bdc9bf6e);
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background: rgb(135, 129, 129) ;
  display: block;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;

}

.weather-app-temperature {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;   
}

.weather-app-details {
  font-weight: 600;
  color: #aa3a17ee;
  margin-bottom: 15px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 70%;
}

button {
  padding: 16px 24px;
  border: none;
  background: #1e1f19;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 20px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-left {
  text-align: left;
}

.weather-right {
  text-align: right;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.weather-forecast div {
  text-align: center;
  font-size: 14px;
}

.weather-forecast-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.weather-forecast-icon {
  width: 50px;
  height: 50px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-weight: bold;

}

#clock {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

footer p{
  text-align: center;
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 14px;
  color: rgba(16, 16, 16, 0.75);
}

.a{
  color: rgb(98, 133, 98);
}